# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode
.idea/

# Project-specific
data/
amazon_dataset/
dataset/
output/
wandb/
*.pth
*.zip
*.log
epoch*.txt.claude/
